@media only screen and (min-width: 600px) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown in the medium on up views */
    section.forecast {
        display: contents;
    }
    /* show the 10-day forecast with the medium view and up */
    nav {
        list-style-type: none;
        margin: 0;
        padding: 0;

    }

    nav ul {
        list-style-type: none;
        background-color: orange;
    }

    nav ul.hide {
        display: contents;
    }

    nav ul li {}

    nav ul li a {
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }

    nav ul li.active a {
        background-color: darkorange;
    }

    nav ul li a:hover {
        background-color: orangered;
    }

    .nav .icon {
        display: contents;
    }

    main h2 {
    }

    .grid-container {
        display: grid;
        grid-gap: 20x;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
    }
    
    .grid-container a:hover{
        box-shadow: 10px 10px;
    }
    
    .grid {
        max-width: 25%;
        padding: 0 4px;

    }