@media only screen and (min-width:1024px) {

    main h2 {
    text-align: center;
}
        nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
    display: block;
}

nav ul.hide {
    display: contents;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav ul li.active a {
    background-color: darkorange;
}

nav ul li a:hover {
    background-color: orangered;
}

    .nav .icon {
        display: contents;
    }
    
  }