@media only screen and (min-width:1024px) {
    
    .clearfix{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
    
    main h2 {
        font-size: 52px;
        color: black;
        text-align: center;
    }
    nav {
        list-style-type: none;
        margin: 0;
        padding: 0;

    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: darkblue;
        display:
    }

    nav ul.hide {
        display: contents;
    }

    nav ul li {}

    nav ul li a {
        display: color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }

 nav ul li.active a {
    background-color: darkblue;
    color: white;
}

nav ul li a:hover {
    background-color: cornsilk;
}

    .nav .icon {
        display: contents;
    }
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px 300px;
    }
    .grid {
        max-width: 25%;
        padding: 0 4px;
    }
    
}

 .story{
        display: contents;
    }

.col1{
    float: left;
    width: 50%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}