/* Delete these CSS comments after reading. */

/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-family: 'Lato', sans-serif;


}

header,
nav,
main,
footer {
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: ;
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

.world {
    font-size: 50px;
    color: black !important;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    width: 90%;
    font-family: 'Rock Salt', cursive;
    text-decoration: none;

}

nav {
    list-style-type: none;
    display: flex;
    overflow: hidden;
    background-color: #1C5253;
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: 14px;
    text-align: center;
    padding: 15px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;

}

nav ul.hide {
    display: none;

}

nav ul li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background-color: cornsilk;
    color: black;
}

.nav .icon {
    display: none;
}

td {
    padding: 10px;
    text-align: center;
}

.col1 {
    float: left;
    width: 100% !important;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.pic1,
pic2,
pic3 {
    margin: 5px;

}


.pic1 {
    background-color: #ABC790;
    border-radius: 25px;
    padding: 5px;

}

.pic2 {
    background-color: #031926;
    border-radius: 25px;
    padding: .5px;
    color: white;

}

.space {
    margin: 50px;
}

.pic {
    display: block;
    margin-left: -50px;
    margin-right: -50px;


}

.link {
    list-style-type: none;
    text-decoration: none;
    color: black !important;
}

a:visited {
    text-decoration: none;
    color: white;
    list-style-type: none;

}

.click {
    font-size: 20px;
}

.great {
    float: right;
    padding: 2px;

}

.pic3 {
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    border-color: #93B7B3;
    margin: 5px;
    padding: 3px;
}

.col2 {
    float: left;
    width: 100% !important;
    text-align: center;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.pic4 {
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    border-color: lightseagreen;
    margin: 5px;
    padding: 3px;
}

.pic5 {
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    border-color: #ABC790;
    margin: 5px;
    padding: 3px;
}

.pic6 {
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    border-color: darkgoldenrod;
    margin: 5px;
    padding: 3px;
}

.map {
    margin: auto;
    width: 50%;
    border: 3px solid #ABC790;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

.form {
    text-align: center;
}

footer {
    text-align: center;
}

table {
    border: 3px solid #031926;
    border-collapse: collapse;
    background-color: #93B7B2;
    color: white;
}

tr,
th,
td {
    border: 2px solid #031926;
    padding: 5px;
   
}

th {
    font-size: 35px
}

.white {
    color: white;
}

.center {
    text-align: center;
}

.left{
    text-align: left;
}