@media only screen and (min-width: 600px) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

    
    nav button {
        display: none;
    }

    nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: white;

    }

    nav ul.hide {
        display: contents;
    }

    nav ul li {}

    nav ul li a {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }

    nav ul li.active a {
        background-color: #031926;
    color: white;
    }

    nav ul li a:hover {
        background-color:cornsilk;
    }

    .nav .icon {
        display: contents;
    }

    main h2 {
    }

    .story{
        display: contents;
    }
    
    .heat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    }
    
    .row {
    padding: 20px;
    width: 100%;
    min-height: 1px;
    float: left;
}

.col1{
    float: left;
    width: 50% !important;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}
    .col2{
    float: left;
    width: 50% !important;
    text-align: center;
}

.row2:after{
    content: "";
    display: table;
    clear: both;
}

.pic4{
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    border-color: black;
    margin: 5px;
    padding: 3px;
}
    
    table{
        margin: 50px;
    }